<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935612972105-r32879oup0gkcuon5esihkglf3eneko6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935612972105-r32879oup0gkcuon5esihkglf3eneko6</string>
	<key>API_KEY</key>
	<string>AIzaSyDWYJCq3LsIRSlfDuwMNcu8Eo4JZWIqcC0</string>
	<key>GCM_SENDER_ID</key>
	<string>935612972105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.javaShop</string>
	<key>PROJECT_ID</key>
	<string>java-shop-e6700</string>
	<key>STORAGE_BUCKET</key>
	<string>java-shop-e6700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935612972105:ios:b3878bb12f52d1ccad9398</string>
</dict>
</plist>